<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
  <div class="catmenu">
    <a href="/a/"><img src="/images/menu/a.png"></a>
    <a href="/b/"><img src="/images/menu/b.png"></a>
    <a href="/c/"><img src="/images/menu/c.png"></a>
    <a href="/d/"><img src="/images/menu/d.png"></a>
    <a href="/e/"><img src="/images/menu/e.png"></a>
    <a href="/f/"><img src="/images/menu/f.png"></a>
    <a href="/g/"><img src="/images/menu/g.png"></a>
    <a href="/h/"><img src="/images/menu/h.png"></a>
    <a href="/i/"><img src="/images/menu/i.png"></a>
    <a href="/j/"><img src="/images/menu/j.png"></a>
    <a href="/k/"><img src="/images/menu/k.png"></a>
    <a href="/l/"><img src="/images/menu/l.png"></a>
    <a href="/m/"><img src="/images/menu/m.png"></a>
    <a href="/n/"><img src="/images/menu/n.png"></a>
    <a href="/o/"><img src="/images/menu/o.png"></a>
    <a href="/p/"><img src="/images/menu/p.png"></a>
    <a href="/q/"><img src="/images/menu/q.png"></a>
    <a href="/r/"><img src="/images/menu/r.png"></a>
    <a href="/s/"><img src="/images/menu/s.png"></a>
    <a href="/t/"><img src="/images/menu/t.png"></a>
    <a href="/u/"><img src="/images/menu/u.png"></a>
    <a href="/v/"><img src="/images/menu/v.png"></a>
    <a href="/w/"><img src="/images/menu/w.png"></a>
    <a href="/x/"><img src="/images/menu/x.png"></a>
    <a href="/y/"><img src="/images/menu/y.png"></a>
    <a href="/z/"><img src="/images/menu/z.png"></a>
  </div>
</header>
