---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <img src="/images/b/beanbag.jpg" style="margin: 10px auto; border: 2px solid black; padding: 5px;">
  <br />
  <small><i>Chill out and relax</i></small>
  <br />
  <br />
  <p>This is an old archived version of this site, kept around for fun. Click the letters at the top to browse.</p>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
